# Homework 1: NumPy, Pandas, and Data Exploration
## CS 2100/4700: Introduction to Machine Learning

**Due Date:** 01/29/2026
**Total Points:** 100

## Instructions

- Complete all exercises in this notebook
- Include your code AND output for each question
- Comment your code where appropriate
- Do NOT use loops where vectorized operations are possible


## Part 1: NumPy Basics (20 points)

### Question 1.1 (10 points)

Given the following array of weekly hours worked:

```python
hours = np.array([40, 52, 35, 45, 60, 38, 42, 55, 48, 37])
```

a) Calculate and print the mean, min, and max hours

b) Find all values greater than 45 (use boolean indexing)

c) Count how many people worked more than 45 hours

In [ ]:
import numpy as np

hours = np.array([40, 52, 35, 45, 60, 38, 42, 55, 48, 37])

# a) Calculate and print the mean, min, and max hours
mean_hours = np.mean(hours)
min_hours = np.min(hours)
max_hours = np.max(hours)
print(f"Mean: {mean_hours}, Min: {min_hours}, Max: {max_hours}")

# b) Find all values greater than 45 (use boolean indexing)
over_45 = hours[hours > 45]
print(f"Hours over 45: {over_45}")

# c) Count how many people worked more than 45 hours
hrswrked_over_45 = np.sum(hours>45)
print(f"Number of people who worked more than 45 hours: {hrswrked_over_45}")

Mean: 45.2, Min: 35, Max: 60
Hours over 45: [52 60 55 48]
Number of people who worked more than 45 hours: 4

### Question 1.2 (10 points)

Given this 2D array of student grades (rows = students, columns = [midterm, final, project]):

```python
grades = np.array([
    [85, 90, 88],
    [72, 68, 75],
    [90, 95, 92],
    [65, 70, 68]
])
```

a) Print the shape of the array

b) Extract all final exam scores (second column)

c) Calculate the average grade for each student (row means)

In [1]:
import numpy as np
grades = np.array([
    [85, 90, 88],
    [72, 68, 75],
    [90, 95, 92],
    [65, 70, 68]
])

# a) Print the shape of the array
print(f"Shape: {grades.shape}")

# b) Extract all final exam scores (second column)
final_exam = grades[:, 1]
print(f"Final exam scores: {final_exam}")

# c) Calculate the average grade for each student (row means)
avg_grade = np.mean(grades, axis=1)
print(f"Average grades for each student: {avg_grade}")

Shape: (4, 3)
Final exam scores: [90 68 95 70]
Average grades for each student: [87.66666667 71.66666667 92.33333333 67.66666667]

## Part 2: Pandas Basics (30 points)

### Question 2.1 (10 points)

Create a DataFrame called `employees` with the following data:

| Name | Age | Department | Salary |
|------|-----|------------|--------|
| Alice | 28 | Engineering | 75000 |
| Bob | 35 | Marketing | 65000 |
| Carol | 42 | Engineering | 95000 |
| David | 31 | Sales | 55000 |
| Eve | 29 | Engineering | 80000 |

Then print: (a) the shape, (b) column names, and (c) data types

In [1]:
import pandas as pd

# Create the employees DataFrame
employees={
    'Name':['Alice','Bob','Carol','David','Eve'],
    'Age':[28,35,42,31,29],
    'Department':['Engineering','Marketing','Engineering','Sales','Engineering'],
    'Salary':[75000,65000,95000,55000,80000]
}
df=pd.DataFrame(employees)
# a) Print the shape
print(f"Shape: {df.shape}")

# b) Print column names
print(f"Column names: {df.columns}")

# c) Print data types
print(f"Data types:\n{df.dtypes}")

Shape: (5, 4)
Column names: Index(['Name', 'Age', 'Department', 'Salary'], dtype='object')
Data types:
Name          object
Age            int64
Department    object
Salary         int64
dtype: object

### Question 2.2 (10 points)

Using the `employees` DataFrame:

a) Select only the 'Name' and 'Salary' columns

b) Filter for employees in the Engineering department

c) Filter for employees with Salary >= 70000 AND Age < 40

In [3]:
employees={
    'Name':['Alice','Bob','Carol','David','Eve'],
    'Age':[28,35,42,31,29],
    'Department':['Engineering','Marketing','Engineering','Sales','Engineering'],
    'Salary':[75000,65000,95000,55000,80000]
}
df=pd.DataFrame(employees)
# a) Select only the 'Name' and 'Salary' columns
subset= df[['Name','Salary']]
print(f"Columns: {subset}")

# b) Filter for employees in the Engineering department
engineer_emp= df[df['Department']=='Engineering']
print(f"Employees in Engineering department:\n{engineer_emp}")

# c) Filter for employees with Salary >= 70000 AND Age < 40
salary_age=df[(df['Salary']>=70000) & (df['Age']<40)]
print(f"Employees with Salary >= 70000 AND Age < 40:\n{salary_age}")

Columns:     Name  Salary
0  Alice   75000
1    Bob   65000
2  Carol   95000
3  David   55000
4    Eve   80000
Employees in Engineering department:
    Name  Age   Department  Salary
0  Alice   28  Engineering   75000
2  Carol   42  Engineering   95000
4    Eve   29  Engineering   80000
Employees with Salary >= 70000 AND Age < 40:
    Name  Age   Department  Salary
0  Alice   28  Engineering   75000
4    Eve   29  Engineering   80000

### Question 2.3 (10 points)

Using the `employees` DataFrame:

a) Calculate the mean salary

b) Use `value_counts()` to count employees in each Department

c) Add a new column `Senior` that is `True` if Age >= 35, otherwise `False`

In [4]:
employees={
    'Name':['Alice','Bob','Carol','David','Eve'],
    'Age':[28,35,42,31,29],
    'Department':['Engineering','Marketing','Engineering','Sales','Engineering'],
    'Salary':[75000,65000,95000,55000,80000]
}
df=pd.DataFrame(employees)
# a) Calculate the mean salary
mean=df['Salary'].mean()
print(f"Mean Salary: {mean}")

# b) Use value_counts() to count employees in each Department
value_counts=df['Department'].value_counts()
print(f"Employees in each department:\n{value_counts}")

# c) Add a new column 'Senior' that is True if Age >= 35, otherwise False
df['Senior']=df['Age']>=35
print(df)

Mean Salary: 74000.0
Employees in each department:
Department
Engineering    3
Marketing      1
Sales          1
Name: count, dtype: int64
    Name  Age   Department  Salary  Senior
0  Alice   28  Engineering   75000   False
1    Bob   35    Marketing   65000    True
2  Carol   42  Engineering   95000    True
3  David   31        Sales   55000   False
4    Eve   29  Engineering   80000   False


## Part 3: Exploring the Adult Dataset (50 points)

Run the cell below to load the UCI Adult Census Income dataset:

In [10]:
import pandas as pd

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"

columns = ['age', 'workclass', 'fnlwgt', 'education', 'education_num',
           'marital_status', 'occupation', 'relationship', 'race',
           'sex', 'capital_gain', 'capital_loss', 'hours_per_week',
           'native_country', 'income']

df = pd.read_csv(url, names=columns, na_values=' ?', skipinitialspace=True)
print(f"Dataset loaded: {len(df)} records")

Dataset loaded: 32561 records

### Question 3.1 (10 points)

a) How many rows and columns are in the dataset?

b) Which columns have missing values and how many?

c) What percentage of people earn >50K?

In [14]:
# a) How many rows and columns are in the dataset?
print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")

# b) Which columns have missing values and how many?
print(df.isnull().sum())

# c) What percentage of people earn >50K?
percent_50k = (df['income'] == '>50K').sum() / len(df) * 100
print("Percentage of people earning >50K:", percent_50k, "%")

Rows: 32561, Columns: 15
age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64
Percentage of people earning >50K: 24.080955744602438 %

### Question 3.2 (10 points)

a) What is the average age in the dataset?

b) What is the average hours_per_week?

c) What are the top 3 most common education levels?

In [33]:
# a) What is the average age in the dataset?
ave_age = df['age'].mean()
print("Average age:", ave_age)

# b) What is the average hours_per_week?
HPW = df['hours_per_week'].mean()
print("Average hours per week:", HPW)

# c) What are the top 3 most common education levels?
top_3=df['education'].value_counts().head(3)
print("Top 3 most common levels:", top_3)

Average age: 38.58164675532078
Average hours per week: 40.437455852092995
Top 3 most common levels: education
HS-grad         10501
Some-college     7291
Bachelors        5355
Name: count, dtype: int64

### Question 3.3 (10 points)

a) Filter the dataset for people aged 30 or younger. How many are there?

b) Filter for people with income '>50K' AND hours_per_week > 40. How many?

c) What percentage of people work in the 'Private' sector?

In [13]:
# a) Filter the dataset for people aged 30 or younger. How many are there?
ppl_aged= df[df['age'] <= 30]
print(f"People aged 30 or younger: {len(ppl_aged)}")

# b) Filter for people with income '>50K' AND hours_per_week > 40. How many?
ppl_filter=df[(df['income']=='>50K') & (df['hours_per_week']>40)]
print(f"People with income '>50K' AND hours_per_week > 40: {len(ppl_filter)}")

# c) What percentage of people work in the 'Private' sector?
ppl_private =df[df['workclass']=='Private']
print(f"Percentage of people in 'Private' sector: {len(ppl_private)/len(df)*100}%")

People aged 30 or younger: 10572
People with income '>50K' AND hours_per_week > 40: 3856
Percentage of people in 'Private' sector: 69.70301894904948%

### Question 3.4 (10 points)

a) Create a cross-tabulation of `sex` vs `income` showing row percentages

b) **Written Answer:** Based on the cross-tabulation, describe the income difference between males and females in 1-2 sentences.

In [17]:
# a) Create a cross-tabulation of sex vs income showing row percentages
print(pd.crosstab(df['sex'], df['income'], normalize='index') * 100)

income      <=50K       >50K
sex
Female  89.053941  10.946059
Male    69.426342  30.573658

**b) Written Answer:**

*[The income difference bewteen males and females is showing that more women than men make 50000 dollars or less. The data also shows that more men than woman make over 50000 dollars.]*

### Question 3.5 (10 points)

a) Create a new column `is_high_earner` that is 1 if income is '>50K', otherwise 0

b) Create a new column `age_group` using `pd.cut()` with bins [0, 30, 50, 100] and labels ['Young', 'Middle', 'Senior']

c) Show the first 5 rows with columns: age, age_group, income, is_high_earner

In [20]:
# a) Create a new column 'is_high_earner' that is 1 if income is '>50K', otherwise 0
df['is_high_earner'] =(df ['income']== '>50K').astype(int)

# b) Create a new column 'age_group' using pd.cut()
df['age_group'] = pd.cut(df['age'], 
                         bins=[0, 30,50,100], labels=['Young', 'Middle', 'Senior'])

# c) Show the first 5 rows with columns: age, age_group, income, is_high_earner
print(df[['age', 'age_group', 'income', 'is_high_earner']].head(5))

   age age_group income  is_high_earner
0   39    Middle  <=50K               0
1   50    Middle  <=50K               0
2   38    Middle  <=50K               0
3   53    Senior  <=50K               0
4   28     Young  <=50K               0

## Submission Checklist

Before submitting, ensure:

- [ ] All code cells show output
- [ ] Written answer is complete
- [ ] Notebook runs top to bottom without errors
- [ ] File named: `HW1_LastName_FirstName.ipynb`


## Grading Rubric

| Part | Points |
|------|--------|
| Part 1: NumPy | 20 |
| Part 2: Pandas | 30 |
| Part 3: Adult Dataset | 50 |
| **Total** | **100** |